.PLPItem {
    padding:0px 5px;
    position: relative;

}

.PLPItem .productsItem {
    border-radius: 4px;
    border: solid 1px #eeeeee;
    margin: 19px 0px;
    min-height: 357px;
    background-size: cover !important;
    background-position: center;
    background-image: url(https://ujdev.urbanjunglestore.com/pub/media/catalog/product/p/1/p1_1_1.png) !important;
} 

.PLPItem .productsItem a {
    text-decoration: none;
}

.PLPItem .productsItem:hover { 
    background-color: #ffffff;
}

.PLPItem .p_img {
    width: 100%;
    height: auto;
}

.PLPItem .productsItem .p_title {
    color: #4f4f4f;
    letter-spacing: 0.14px !important;
    line-height: 1.57 !important;
    font-weight: 300 !important;
    text-align: center;
}

.PLPItem .productsItem .p_amt {
    font-weight: bold !important;
    font-size: 1.1rem !important;
    line-height: 1.5 !important;
    letter-spacing: 0.16px !important;
    text-align: center;
    color: #0d943f;
    font-family: "VAG Rounded ELC Bold" !important;
}   

.PLPItem .productsItem .amt_strike {
    font-weight: 300 !important;
    font-size: 1.1rem !important;
    line-height: 1.5 !important;
    letter-spacing: 0.16px !important;
    text-align: center;
    color: #b3b3b3;
}

.PLPItem .productsItem .p_months {
    color: #4f4f4f;
    letter-spacing: 0.14px !important;
    text-align: center;
    line-height: 1.71 !important;
    font-weight: 300 !important;
    padding-top: 14px;
}

.PLPItem .productsItem .addToBasket {
    font-weight: bold !important;
    font-family: "VAG Rounded ELC Bold" !important;
}
.product-title {
    font-size: 0.8rem;
    font-family: 'HelveticaNeueMedium';
    text-transform: uppercase;
}
.product-subtitle {
    font-size: 0.6rem;
    color: #4b4b4b;
    padding-bottom: 0.4rem;
}
.product-title del {
    color: #4b4b4b;
}
.product-title span {
    color: #d01d1d;
}

.PLPItem .cpy {
    display: flex;
    justify-content: flex-end;
    color: #000000;
    position: absolute;
    top: 30px;
    right: 15px;
}

.load-more-container{
    margin: 20px;
    text-align: center;
}

.load-more-container .load-more-button{
    background: #000000;
    color: white;
    font-size: 14px;
    text-transform: none;
    width: 150px;
    height: 40px;
    border-radius: 0%;

}

@media(max-width: 668px) {
    .PLPItem .productsItem {
        padding: 15px 10px 15px;
        min-height: 200px;
    }

    .PLPItem .productsItem .addToBasket {
        font-weight: bold !important;
        height: 2.5rem;
    }

    .PLPItem .productsItem .text-height {
        height: 45px;
    }
}