.PLP .ProductName p {
    color: #0c943f;
    line-height: 1;
    font-weight: bold;
    letter-spacing: normal;
    font-size: 2rem;
    margin: 28px 0px 12px;
    font-family: 'VAG Rounded ELC Bold' !important;
}

.mobile_filter {
    z-index: 1000;
    padding: 0px 20px;
    height: 60px;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.paginationPadding .MuiPaginationItem-page.Mui-selected {
    background-color: #0c943f;
    color: #ffffff;
}

.border-bottom {
    border-bottom: 1px solid #dedede;
}

html[dir='rtl'] .PLP .ProductName p {
    text-align: right;
}

.apparels {
    background: #f7f7f7;
    margin: 1.4rem 3rem;
    padding: 1rem;
    display: flex;
}
.apparels .apparel-cnt1 {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    padding-right: 1.5rem;
}
.apparels .apparel-cnt2 {
    width: 30%;
    background-color: #d1d1d1;
}
.apparel-cnt2 .apparel-img {
    width: 100%;
    height: 100%;
}
.apparels .apparel-title {
    font-size: 1.4rem;
    font-family: 'HelveticaNeueBold';
}
.apparels .apparels-list span {
    padding: 0.3rem 1rem;
    border: 1px solid #000000;
    margin-right: 1rem;
    font-size: 0.8rem;
    font-family: 'HelveticaNeueMedium';
}
.apparels p {
    margin-top: 1rem;
    font-family: 'HelveticaNeueMedium';
    font-size: 0.7rem;
}
.applied-filters {
    font-size: 0.6rem;
    padding: 0.2rem 0.4rem;
    border: 1px solid #fecc2f;
    margin-right: 1em;
    font-family: 'HelveticaNeueMedium';
    align-items: center;
    min-width: 50px;
}
.applied-filters .cancel-filter {
    width: 10px;
    height: 10px;
}

@media (max-width: 668px) {
    .mainPlp {
        padding-top: 10px;
    }

    .PLP .ProductName p {
        font-size: 1.6rem;
    }

    .mobile_filter .filterText {
        font-size: 1.2rem;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: 0.48px !important;
        text-align: left;
        color: #212529;
        font-family: 'VAG Rounded ELC Bold' !important;
    }

    .mobile_filter img {
        width: 90%;
    }

    .paginationPadding .MuiPaginationItem-sizeLarge {
        width: 30px;
        height: 30px;
    }

    .apparels {
        margin: 0px;
    }
}
