.flex-align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
::placeholder {
    font-size: 14px;
}

.header-logo {
    width: 220px;
    cursor: pointer;
}
.icon-container {
    @extend .flex-align-center;
    .icon-item-container {
        @extend .flex-align-center;
        flex-direction: column;
        margin-right: 24px;
        .icon-item {
            padding: 3px;
        }
        .icon-title {
            font-family: 'HelveticaNeue-Roman';
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.42;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;
        }
        .country-container {
            span {
                height: 24px;
                width: 24px;
            }
            .flag-image {
                height: 100%;
                width: 100%;
                object-fit: cover;
                background-size: cover;
                background-color: #fff;
                border-radius: 50%;
            }
        }
    }
    .Cart-count-container {
        @extend .flex-align-center;
        height: 30px;
        width: 30px;
        background-color: #fff;
        border-radius: 50%;
        .cart-count {
            font-size: 14px;
            font-weight: 600;
            color: #000;
            text-align: center;
        }
    }
}
.nav-link {
    display: block;
    margin: auto;
    .nav-link-dropdown {
        .nav-link-name {
            list-style: none;
            text-decoration: none;
            color: #fff;
            padding: 0 20px;
            font-size: 14px;

            // font-family: 'HelveticaNeueRegular';
            // font-size: 22px;
            // font-weight: bold;
            // font-stretch: normal;
            // font-style: normal;
            // line-height: 2.96;
            // letter-spacing: normal;
            // text-align: left;
            // color: #000000;
        }
    }
}

.yellow-background {
    background-color: #ffcc00;
    padding: 40px 20px 40px 40px;
    overflow-y: auto;
    height: 100%;
    a {
        list-style: none;
        text-decoration: none;
        color: #000 !important;
        padding: 0 10px;
        font-size: 14px;
        line-height: 20px !important;
    }
}

.show {
    display: block;
    height: 100%;
}

.hide {
    display: none;
}

.tab-links {
    line-height: 1rem;
}

.mobile-nav {
    .nav-link {
        height: 70px;
        text-align: center;
        a {
            color: #000;
            font-family: 'HelveticaNeueBold';
            font-size: 1rem;
        }
    }
    .makeStyles-search-5 {
        border: 1px solid #000;
        width: 90%;
        margin: 30px auto 5px;
        border-radius: 26px;
        .makeStyles-inputInput-8 {
            padding: 16px;
        }
    }
}

// navigation css
.nav-link {
    height: 100%;
    padding: 0;
    margin-right: 0;
    ul {
        margin: 0;
        height: 100%;
        padding: 0;
        li {
            display: inline-flex;
            height: 100%;
            align-items: center;
            .tab-links {
                display: flex;
                margin: 1.5rem 0px;
                span {
                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        left: 0px;
                        right: 0px;
                        bottom: 0px;
                        transform-origin: center;
                        transform: scaleX(0);
                        -webkit-transform: scaleX(0);
                        transition: 200ms ease;
                        height: 2px;
                        width: 100%;
                        background: #000;
                    }
                }
                &:hover {
                    span {
                        &::after {
                            transform: scaleX(1);
                            -webkit-transform: scaleX(1);
                        }
                    }
                }
                &[data-active='true'] {
                    span {
                        &::after {
                            transform: scaleX(1);
                            -webkit-transform: scaleX(1);
                        }
                    }
                }
            }
            a {
                font-family: 'HelveticaNeueMedium' !important;
                font-size: 16px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                letter-spacing: normal;
                text-align: left;
                color: #858080;
                text-decoration: none !important;
                button {
                    font-family: 'HelveticaNeueBold';
                    font-weight: bold !important;
                    font-size: 0.9rem;
                    &:hover {
                        background-color: transparent !important;
                    }
                }
            }
        }
    }
    .dropdown-menu {
        background-color: #fff;
        display: none;
        min-height: 200px;
        height: 70vh;
        width: 100%;
        position: absolute;
        bottom: 0;
        z-index: 2;
        padding: 0px;
    }
}

// dropdown css
.nav-link-dropdown {
    &:hover {
        > .dropdown-menu {
            display: block;
        }
    }
}
.nav-link {
    .nav-link-dropdown {
        &:hover {
            border-bottom: 3px solid #ffcc00;
        }
    }
}
// dropdown menu css
.tab-dropdown {
    padding-left: 0px;
    .rwt__tablist {
        padding-left: 5rem;
        background-color: #fecc2f;
    }
    .rwt__tablist[aria-orientation='vertical'] {
        .rwt__tab[aria-selected='true'] {
            &:after {
                bottom: 0;
                width: 50%;
                border-right: none;
                border-bottom: 3px solid #ffcc00;
                left: 0;
            }
        }
    }
    .rwt__tab[aria-selected='false'] {
        &:hover {
            outline: 0;
            background-color: white;
            background-color: white;
        }
    }
    .rwt__tab {
        margin-bottom: 10px;
        padding: 5px 0px;
        cursor: pointer;
        text-align: left;
        font-weight: 600;
    }
    .rwt__tabpanel {
        width: 100%;
        padding: 2.5rem 3rem;
    }
    .menu-item {
        .menu-item-label {
            font-size: 0.9rem;
            color: #000;
            line-height: 2.14;
        }
    }
    .menu-item-headig {
        font-size: 0.8rem;
        color: #838383;
        margin-bottom: 1rem;
    }
    .images-item {
        .product-image {
            text-align: center;
            img {
                max-width: 100%;
                vertical-align: middle;
                display: inline-block;
                width: 230px !important;
                height: 100px;
                object-fit: contain;
            }
        }
        .product-title {
            color: black;
            text-align: center;
            height: auto;
            line-height: 1.5;
            font-size: 0.875rem;
            margin: 7px 0px;
            font-weight: 500;
            font-family: 'HelveticaNeueMedium';
        }
        a {
            padding: 0;
        }
    }
}
.rwt__tab {
    &:focus {
        outline: 0;
        background-color: white;
        background-color: white;
    }
}

@media (max-width: 640px) {
    .header-logo {
        width: 170px;
    }
    .icon-container {
        padding-left: 0.5rem;
    }
    .icon-item-container {
        margin-right: 0.2rem !important;
    }
    .icon-container .icon-item-container .icon-item {
        width: 1.5rem;
    }

    #homepage {
        .banner-card-container {
            width: 100%;
            .inner-container {
                margin: 0;
                max-width: 100%;
                margin-bottom: 1rem;
            }
        }
    }
    .mobile-nav {
        .line {
            height: 1px;
            width: 100%;
            background-color: lightgray;
        }
    }
}
// dropdown menu css

.rwt__tabs {
    max-height: 80vh !important;
    overflow: auto;
}

.rwt__tablist {
    max-height: 80vh !important;
    overflow: auto;
}
.header-search {
    border: none !important;
}

.header-search:focus {
    border: none !important;
    outline: none !important;
}

.auto-suggestion-products {
    position: absolute;
    padding: 10px;
    width: 300px;
    max-height: 300px;
    background: #ffffff;
    z-index: 102;
    box-shadow: 0 10px 10px #5e5e5e;
    top: 60px;

    .product-data {
        max-width: 100%;
        height: max-content;
        padding: 10px 0px;
        border-bottom: 1px solid #d8d8d8;
        .product-image {
            width: 90%;
            margin: auto;
        }

        .product-name-container {
            height: max-content;
        }
        .product-name {
            max-width: 100%;
            font-size: 14px;
            line-height: 16px;
            height: max-content;
        }
    }

    .product-data:hover {
        background: #eeeeee;
    }

    .show-all-button {
        padding: 10px;
        width: 100%;
        height: 45px;
        text-align: center;
        background: #eeeeee;
        border: 1px solid #d3d3d3;
        border-top: none;
        .show-all-text {
            font-size: 18px;
        }
    }
}
