.side-bar-container {
    width: 300px;
    height: 100%;
    overflow-y: scroll;
    padding: 0 0 2.5px;
    background-color: #fecc2f;
    // font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-family: 'HelveticaNeueRegular';

    .side-bar-header {
        width: 100%;
        height: 80px;
        margin: 0 0 20px;
        padding: 25px 29.4px 24px 23px;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.08);
        background-color: #000000;
        color: #ffffff;

        .side-bar-header-statement {
            display: inline-block;
            width: 80%;

            .side-bar-header-font {
                font-size: 20px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.54;
                letter-spacing: normal;
                text-align: left;
                color: #ffffff;
            }
        }

        .side-bar-header-button {
            display: inline-block;
            width: 20%;
            text-align: right;

            .close-button {
                padding: 0px;
                font-size: 30px;
            }
        }
    }

    .category-container {
        margin: 0px 15px;
        border-bottom: 1px solid #000000;
        margin-bottom: 30px;
        position: relative;
        .category-name {
            font-size: 20px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.54;
            letter-spacing: normal;
            text-align: left;
            color: #000000;
            display: inline-block;
            width: calc(100% - 40px);
            margin-bottom: 20px;
        }
        .Chagen_country {
            font-size: 0.79rem;
            text-decoration: underline;
        }

        .sub-category-name {
            font-size: 18px;
        }

        .category-arrow {
            width: 40px;
            display: inline-block;
            text-align: right;
            font-size: 16px;
        }

        .category-inner-container {
            margin-bottom: 20px;

            .category-inner-icon {
                display: inline-block;
                width: 40px;
                text-align: left;
                font-size: 26px;
            }
        }

        .category-inner-name {
            font-size: 16px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: left;
            color: #000000;
            display: inline-block;
            width: calc(100% - 40px);
            vertical-align: super;
        }

        .follow-us {
            width: 50% !important;
        }

        .follow-us-icon-container {
            width: 50%;
            text-align: right;
            font-size: 26px;

            .follow-us-icon {
                margin-right: 20px;
            }
        }

        .youre-in {
            margin-bottom: 10px;
            width: 100% !important;
        }

        .flag-container {
            margin-right: 10px;
            display: inline-block;
            vertical-align: middle;
            font-size: 14px;
            .italy-flag {
                width: 36px;
            }
        }

        .l2-category-header {
            text-align: center;
            width: 100% !important;
            line-height: 0.7;
            vertical-align: middle;
        }

        .menu-back-button {
            position: absolute;
            left: 0px;
            bottom: 1px;
            padding-left: 0px;
        }
    }

    .logout-container {
        margin-bottom: 0px !important;
        border-bottom: none !important;
    }

    .view-all-button-container {
        text-align: center;

        .view-all-button {
            width: max-content;
            height: 50px;
            padding: 14px 26px 14px 26px;
            border-radius: 0px;
            background-color: #000000;
            font-size: 16px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.54;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
            margin-bottom: 1.5rem;
            border-radius: 25px;
        }
    }
}
