.mob-l3-category-main-container {
    width: 100%;
}
.mob-l3-category-main-container .mob-l3-category-div {
    margin: 0px 15px;
}
.mob-l3-category-main-container .mob-l3-category-div .title {
    text-transform: uppercase;
    font-size: 0.8rem;
    color: #838383;
    font-family: 'HelveticaNeueRegular' !important;
    border-bottom: 1px solid;
    margin-top: 0.5rem;
}
.mob-l3-category-main-container .mob-l3-category-div .category-name > a {
    color: #000 !important;
    text-decoration: none !important;
}
.mob-l3-category-main-container .mob-l3-category-div .category-name > a > span {
    color: #000;
    font-size: 0.975rem;
    font-family: 'HelveticaNeueRegular' !important;
    line-height: 2.14;
    position: relative;
}
.mob-l3-category-main-container .mob-l3-category-div .category-name a span::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform-origin: center;
    transition: 200ms ease;
    height: 1px;
    background: #000;
}
.mob-l3-category-main-container .mob-l3-category-div .category-name a:hover span::after {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
}
.view-all-l2 {
    font-size: 1rem;
    padding: 5px;
    background: #000;
    color: #fff;
    margin: 10px;
    text-align: center;
    margin-bottom: 20px;
}
.category-container .Collapsible > span {
    width: 100%;
}
.category-container .Collapsible > span > .sub-category-name {
    width: 100% !important;
}

.category-container .Collapsible > span > .sub-category-name > span {
    right: 0;
    font-size: 16px;
    transition: 200ms ease;
}
.category-container .Collapsible > span.is-open > .sub-category-name > span {
    transform: rotate(180deg);
}
