.flex {
    display: flex;
}
.justify-even {
    justify-content: space-evenly;
}
.justify-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}
.main-container {
    .s-n-r {
        h1 {
            text-align: center;
            font-size: 2rem;
            font-family: 'HelveticaNeueBold';
        }
        .snr-main {
            display: flex;
            .snr-tab-container {
                width: 100%;
                .snr-tab {
                    background-color: #fecc2f;
                    padding: 1rem 0px;
                    ul {
                        padding: 0px;
                        .active_tab {
                            color: #000000;
                            font-weight: bold;
                            border-left: 4px solid;
                        }
                        li {
                            list-style: none;
                            cursor: pointer;
                            padding: 1rem 1.2rem;
                            font-size: 1rem;
                            color: #4b4b4b;
                        }
                    }
                }
            }
            .snr-data {
                margin-left: 2rem;
                p {
                    font-family: 'HelveticaNeueRegular';
                    line-height: 1.4em;
                    font-size: 0.95rem;
                }
                .snd {
                    h4 {
                        font-size: 1.6rem;
                    }
                    p {
                        span {
                            font-family: 'HelveticaNeueBold';
                            font-weight: 500;
                        }
                    }
                }
                .returns-and-replacement {
                    h4 {
                        font-size: 1.6rem;
                    }
                    p {
                        span {
                            font-family: 'HelveticaNeueBold';
                            font-weight: 500;
                        }
                    }
                    .tip {
                        font-family: 'HelveticaNeueBold';
                    }
                }
                .payment-and-pricing {
                    h4 {
                        font-size: 1.6rem;
                    }
                    p {
                        font-family: 'HelveticaNeueRegular';
                    }
                }
                .snr-contact-us {
                    .snr-contact-mail-phone {
                        display: flex;
                        .contact-i {
                            font-size: 1.4rem;
                            padding-top: 1rem;
                        }
                        .contact-mail {
                            margin-left: 1.5rem;
                            p:last-child {
                                font-family: 'HelveticaNeueBold';
                            }
                        }
                        .contact-phone {
                            margin-left: 1.5rem;
                            p:last-child {
                                font-family: 'HelveticaNeueBold';
                            }
                        }
                        .mail {
                            margin-left: 4rem;
                        }
                    }
                }
            }
            .snr-data1 {
                display: none;
            }
        }
    }
}

// Responsive View For Mobile

@media (max-width: 800px) {
    .main-container {
        .s-n-r {
            margin: 1px 0.8rem;
            .snr-main {
                display: block;
                .snr-tab-container {
                    display: none;
                    .snr-tab {
                        display: none;
                    }
                }
                .snr-data {
                    display: none;
                }
                .snr-data1 {
                    padding-left: 0px;
                        font-size: 0.2rem;
                        display: block;
                        .tnc-collapsible {
                            border: 1px solid #000000;
                            padding: 1rem;
                            margin: 2rem 0px;
                            .collapse-heading {
                                font-size: 1.2rem;
                                text-align: left;
                            }
                            .collapse-data {
                                font-size: 1rem;
                            }
                            .tnc-col-flex {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                            }
                        }
                }
            }
        }
    }
}
