.name-main-div {
    padding: 10px;
    margin: 20px;
}
.name-share-icon {
    float: right;
    margin-top: -34px;
    margin-right: 50px;
}

.name-like-icon {
    float: right;
    margin-top: -34px;
    margin-right: 0px;
}

.brand-name {
    width: 37px;
    height: 19px;
    margin: 0 403px 8px 0;
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.product-name {
    width: 475px;
    height: 37px;
    margin: 8px 31px 18px 0;
    font-family: HelveticaNeue;
    font-size: 32px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #4b4b4b;
}

.name-stock {
    width: 66px;
    height: 22px;
    margin: 20px 0 70px 191px;
    font-family: HelveticaNeue;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: right;
    color: #009511;
}