.product_info {
    &_up {
        label {
            color: #000000;
            font-family: 'HelveticaNeueMedium';
            font-size: 1rem;
            margin-bottom: 0px;
        }
        svg {
            color: #000000;
            font-size: 1.2rem;
        }
    }

    &_details {
        &_title {
            color: #4b4b4b;
            line-height: 1.31;
            font-size: 1.8rem;
        }
        .price_and_stock {
            margin-top: 0.8rem;
            .price {
                color: #000000;
                font-family: 'HelveticaNeueMedium';
                padding-right: 0.5rem;
            }
            .price_stickout {
                text-decoration: line-through;
                padding-right: 0.5rem;
                color: #838383;
                font-family: 'HelveticaNeueMedium';
            }
            .offer {
                color: #d01d1d;
                padding-right: 0.5rem;
            }
            .stock {
                color: #009511;
                font-family: 'HelveticaNeueMedium';
            }
        }
        .size_section {
            padding-top: 2.5rem;
            &_title {
                color: #000000;
                font-family: 'HelveticaNeueBold';
                font-size: 1.4rem;
            }
            &_chart {
                text-decoration: underline;
                color: #000000;
                font-size: 0.8rem;
            }
            .size_button {
                border: solid 1px #d1d1d1;
                background-color: #ffffff;
                padding: 7px 15.3px 7px 14.7px;
                margin: 0 0.1rem 0 0.5rem;
                color: #969696;
                font-size: 0.8rem;
            }
            .active_size {
                border: solid 1px #000000;
                color: #000000;
            }

            .line {
                background-color: #e0e0e0;
                margin: 1.3rem 0px 0.5rem;
                height: 1px;
                width: 100%;
            }

            .size_number {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 1rem 0px;
            }
            .MuiButton-outlinedPrimary {
                color: #000000;
                border: 1px solid #000000;
            }
            .size_number_active {
                background-color: #000000;
                color: #ffffff;
                .MuiButton-outlinedPrimary {
                    color: #ffffff;
                }
            }
            .Mui-disabled {
                color: lightgray;
                border: 1px solid lightgray;
            }
        }
        .add_to_cart {
            margin-top: 1rem;
            .btn {
                border-radius: 0px;
                width: 100%;
                background-color: #000000;
                padding: 0.8rem;
                color: #ffffff;
                font-family: 'HelveticaNeueMedium';
                font-size: 1.1rem;
                text-transform: capitalize !important;
            }
        }
        &_description {
            padding-top: 3rem;
            .pdp-desc-section {
                width: 100%;
            }
            .pdp-collapse-top {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .desc-heading {
                    color: #000000;
                    font-family: 'HelveticaNeueBold';
                    font-size: 1.4rem;
                }
                svg {
                    font-size: 1.3rem;
                    cursor: pointer;
                }
            }
            .Collapsible__contentInner {
                padding: 1rem 0px;
            }
            .pdp-desc-text {
                p {
                    color: #000000;
                    font-size: 0.9rem;
                    margin: 1.5rem 0px;
                }
                .title {
                    color: #838383;
                    margin: 0px;
                }
                .subValue {
                    margin-top: 0.5rem;
                    color: #000000;
                }
            }
            .line {
                width: 100%;
                background-color: #dedede;
                height: 1px;
                margin: 1.5rem 0px;
            }
        }
        .uj_advantage {
            padding-top: 1.5rem;
            &_up {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 2rem;
                &_title {
                    font-size: 1.4rem;
                    font-family: 'HelveticaNeueBold';
                }
            }
            .vertical_line {
                min-height: 120px;
                height: 100%;
                width: 1px;
                background-color: #e0e0e0;
                margin: auto;
            }
            &_image_and_text {
                text-align: center;
                div {
                    border-bottom: 1px solid #e0e0e0;
                    min-height: 140px;
                    line {
                        min-height: auto;
                    }
                }
                p {
                    width: 80%;
                    margin: auto;
                    font-size: 0.9rem;
                }
            }

            .free_text {
                text-align: center;
                label {
                    color: #000000;
                    font-family: 'HelveticaNeueMedium';
                    font-size: 1.2rem;
                    line-height: 2;
                }
                p {
                    text-align: left;
                    color: #454545;
                    margin: 0px;
                    font-size: 0.9rem;
                    line-height: 1.63;
                }
            }
        }
    }
}

.main-container {
    padding: 30px 50px;
    .pdp-you-might-also-like {
        padding-top: 2rem;
        h4 {
            font-family: 'HelveticaNeueBold';
            font-size: 1.5rem;
            text-align: center;
        }
        .slick-prev:before,
        .slick-next:before {
            color: #000000;
        }
        .click-card-cnt {
            img {
                width: 100%;
            }
            .slick-card {
                background-color: #f4f4f4;
                margin: 1rem;
            }
            .slick-card-info {
                margin: 0px 1rem;
                .product_name {
                    font-family: 'HelveticaNeueMedium';
                    margin: 0px;
                }
                .sub-title {
                    color: #4b4b4b;
                    line-height: 2;
                    margin: 0px;
                }
                .product_price {
                    font-family: 'HelveticaNeueMedium';
                    margin: 0px;
                    margin-top: 0.5rem;
                }
            }
        }
    }
}

.mobile_add_and_more {
    position: fixed;
    bottom: 0;
    background-color: #ffffff;
    left: 0;
    min-height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.06);
    padding: 0px 0.5rem;
    z-index: 1000;
    .more_btn {
        padding: 1rem 0rem;
        border: 1px solid #000000;
        border-radius: 0px;
        width: 100%;
        text-transform: capitalize;
        font-family: 'HelveticaNeueMedium';
    }
    .buy_btn {
        padding: 1rem 1.5rem;
        background-color: #000000;
        border-radius: 0px;
        width: 100%;
        text-transform: capitalize;
        color: #ffffff;
        font-family: 'HelveticaNeueMedium';
        &:hover {
            background-color: #000000;
            color: #ffffff;
        }
    }
}

@media (max-width: 668px) {
    .main-container {
        padding: 30px 0px;
    }
    .product_info {
        padding: 0px 2rem !important;
        &_details {
            .uj_advantage {
                &_image_and_text {
                    img {
                        width: 50%;
                    }
                    p {
                        font-size: 0.8rem;
                    }
                }
                .free_text {
                    p {
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
}
