.product_image_container {
    &_div {
        height: 495px;
        background-color: #eeeeee;
        align-items: center;
        display: flex;
        justify-content: center;
        img {
            width: 95%;
            margin: 10px;
        }
        .input-position {
            div {
                div {
                    background-color: #fff;
                }
            }
        }
    }
}

.product_image_container1 {
    &_div {
        margin: 0px 1rem;
        height: 400px;
        background-color: #eeeeee;
        align-items: center;
        display: flex;
        justify-content: center;
        img {
            width: 95%;
            margin: 10px;
        }
    }
    .slick-card-info {
        margin: 1rem 1rem;
        .product_name {
            font-family: 'HelveticaNeueMedium';
            margin: 0px;
        }
        .sub-title {
            color: #4b4b4b;
            line-height: 2;
            margin: 0px;
        }
        .product_price {
            font-family: 'HelveticaNeueMedium';
            margin: 0px;
            margin-top: 0.5rem;
        }
    }
}

.size_chart_pop {
    .MuiDialog-paperWidthSm {
        min-width: 50vw;
        padding: 1rem 1.5rem 0px;
    }
    svg {
        font-size: 1.5rem;
        color: #000000;
    }
    .title {
        font-size: 1.1rem;
        font-family: 'HelveticaNeueBold';
    }
    .container {
        padding: 1rem 0px 0px;
        $TABLE_HEADER_HEIGHT: 2.6rem;
        $TABLE_PAGINATION_HEIGHT: 4rem;
        $RECENT_VIEW_HEIGHT: 4rem;
        $TEST_TABLE_BANNNER_HEIGHT: 4rem;
        $TABLE_HEIGHT: calc(100vh - 8rem - #{$RECENT_VIEW_HEIGHT} - #{$TEST_TABLE_BANNNER_HEIGHT});

        .material_table {
            width: 100%;
            height: $TABLE_HEIGHT;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            table {
                position: relative;
                border-spacing: 0;
                th {
                    height: $TABLE_HEADER_HEIGHT;
                    position: sticky;
                    top: 0;
                    background-color: white;
                    font-size: 0.95rem;
                    font-weight: bold;
                    color: #6e809d;
                    font-family: 'HelveticaNeueBold';
                    border-radius: 0.4rem;
                    padding-left: 1rem;
                    overflow: hidden;

                    &:hover {
                        background-color: rgba(250, 250, 250, 1);
                    }
                }
            }
            thead,
            tbody tr {
                display: table;
                width: 100%;
                table-layout: fixed;
            }
            tbody {
                height: calc(#{$TABLE_HEIGHT} - #{$TABLE_HEADER_HEIGHT} - #{$TABLE_PAGINATION_HEIGHT});
                display: block;
                overflow: auto;
                tr {
                    height: 3rem;
                    background-color: rgb(248, 252, 255);
                    border-radius: 0.5rem;
                    cursor: pointer;
                    // @extend .tilt-in-right-1;

                    &:hover {
                        background-color: #edf8ff;
                        td {
                            color: #000;
                        }
                        svg {
                            color: #000;
                        }
                    }

                    td {
                        border: 0.1rem solid white;
                        border-right: 0;
                        border-left: 0;
                        font-size: 0.85rem;
                        color: #000;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        padding-left: 1rem;
                        &:last-child {
                            border-bottom-right-radius: 0.4rem;
                            border-top-right-radius: 0.4rem;
                        }
                        &:first-child {
                            border-bottom-left-radius: 0.4rem;
                            border-top-left-radius: 0.4rem;
                        }

                        svg {
                            font-size: 1.3rem;
                            color: #edf8ff;
                        }
                    }
                }
            }
            &_icons {
                display: flex;
                font-size: 1.2rem;
                color: #6e809d;
                span {
                    margin-right: 1rem;
                    padding: 0.2rem;
                    &:hover {
                        color: rgba(0, 0, 0, 0.7);
                    }
                }
            }

            &_header {
                height: 100%;
                display: flex;
                align-items: center;
                &_text {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                svg {
                    margin-left: 0.4rem;
                    margin-top: 0.2rem;
                    font-size: 1.2rem;
                }
            }
        }
    }
}

.auto-width {
    .MuiDialog-paperWidthSm {
        min-width: 30vw;
        padding: 1rem 1.5rem 0px;
    }
    .social_image {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        div {
            width: 60px;
            height: 60px;
            border-radius: 30px;
            border: 1px solid gray;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            cursor: pointer;
            text-align: center;
            img {
                width: 20px;
                height: 20px;
                cursor: pointer;
            }
        }
        label {
            width: 100%;
            text-align: center;
        }
    }
}
