.main-container_PLP {
    width: 1600px;
    padding: 145px 160px;
}
.link {
    text-decoration: none;
    font-family: HelveticaNeue;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.73;
    letter-spacing: normal;
    text-align: left;
    color: #838383;
}
.apparels {
    width: auto;
    height: max-content;
    background: #f7f7f7;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .apparels-info {
        padding: 0 0 0 30px;
        h4 {
            font-size: 36px;
            font-weight: bold;
            font-stretch: normal;
            font-family: 'HelveticaNeueBold';
            font-style: normal;
            line-height: 1;
            letter-spacing: normal;
            text-align: left;
        }
    }
    small {
        width: 92px;
        height: 39px;
        margin: 0 20px 0 0;
        padding: 10px 22px;
        border: solid 1px #000000;
        font-family: 'HelveticaNeueMedium';
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.44;
        letter-spacing: normal;
        text-align: center;
        color: #222222;
    }
    p {
        font-weight: normal;
        font-stretch: normal;
        font-family: 'HelveticaNeueRegular';
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
    }
    img {
        width: 100%;
    }
}

.card {
    width: 408px;
    height: 422px;
    margin: 0 0 14.4px;
    padding: 0 0 4px;
}
.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .card-image {
        background-color: #f4f4f4;
        .copy-icon {
            width: 16.6px;
            height: 16.6px;
            margin: 10px;
            float: right;
        }
        img {
            width: 408px;
            height: 206px;
            padding: 15px 0 89px;
            background-color: #f4f4f4;
        }
    }
}
.product-info {
    padding-top: 20px;
    .name {
        margin: 7.4px 287.7px 15.2px 0.3px;
        font-family: 'HelveticaNeueMedium';
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1px;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
    }
}

.applied-filter {
    margin: 0 0 25px;
    display: flex;
    .clear {
        width: 52px;
        height: 16px;
        padding: 15px 25px 20px 0;
        font-family: HelveticaNeue;
        font-size: 14px;
    }
    .applied-filter-name {
        width: 77px;
        height: 28px;
        margin: 0 16px 0 0;
        padding: 6px 10.1px 6px 10px;
        border: solid 1px #fecc2f;
        background-color: #ffffff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .remove-filter {
            width: 7.7px;
            height: 7.7px;
            margin: 5.1px 0 3.1px 6.1px;
        }
    }
}

.grid-section {
    h4 {
        width: 80px;
        height: 24px;
        margin: 0 190px 26px 0;
        font-family: HelveticaNeue;
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.96;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
        text-transform: uppercase;
    }
}

.collapse {
    margin: 25px 0px;
    width: 100%;
    button {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.collapse-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .c-t {
        font-size: 20px;
        font-weight: 500;
        font-family: 'HelveticaNeueMedium';
        color: #000000;
    }
}
input {
    width: 100%;
    height: 20px;
    margin: 12px 0 16px;
    padding: 12px 15.6px 12px 12px;
    border: solid 1px #dddddd;
    background-color: #ffffff;
}

table {
    width: 100%;
    text-align: center;
    .t-h {
        width: 43px;
        height: 25px;
        margin: 0 16px 10px 0;
        padding: 4.8px 12.7px 4.2px 10.3px;
        border: solid 1px #000000;
        background-color: #ffffff;
    }
    tr {
        margin-bottom: 20px;
    }
    .t-d {
        width: 43px;
        height: 25px;
        margin: 0 16px 10px 0;
        padding: 4.8px 12.7px 4.2px 10.3px;
        line-height: 2rem;
        background-color: #ffffff;
    }
    .t-d:hover {
        background: #000000;
        color: #ffffff;
    }
}

@media (min-width: 300px) and (max-width: 900px) {
    .main-container_PLP {
        width: auto;
        padding: 30px 30px;
    }
    .filter-grid {
        display: none;
    }
    .card {
        width: 280px;
        margin: 20px auto;
        padding: 0 0 4px;
        display: block;
    }
    .card-container {
        .card-image {
            background-color: #f4f4f4;
            width: 280px;
            height: 290px;
            margin: 0 0 18.9px;
            img {
                width: 243px;
                height: 120px;
                margin: 30px 20px;
            }
        }
    }
    .product-info {
        padding-top: 2px;
    }
    .applied-filter {
        display: none;
    }
    .sort-by {
        display: none;
    }
}


.search-box{
    width: 100%;
    background: #f7f7f7;
    font-size: 28px;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 25px 40px;
    margin-bottom: 50px;
}
.result-message{
    text-align: center;
    width: 100%;
    padding-bottom: 35px;
    border-bottom: 1px solid #838383;
}

.continue-shopping-button{
    background: #000000 !important;
    padding: 10px 50px !important;
    color: #ffffff !important;
    margin-top: 10px !important;
}
