.CartPaymentContainer {
    border-radius: 4px;
    background-color: #f7f7f7; 
    padding: 25px 30px; 
}

.paymentPadding {
    padding: 0px 20px;
}

.CartPaymentContainer .OrderSummaryText {
    color: #212529;
    letter-spacing: 0.32px !important;
    line-height: 3 !important;
    font-weight: bold !important;
    font-size: 1.1rem !important;
    font-family: 'HelveticaNeueBold';
}

.CartPaymentContainer .cartpayment-label {
    color: #4f4f4f;
    letter-spacing: 0.24px !important;
    line-height: 2.8 !important;
    font-weight: 300 !important;
    font-size: 0.9rem !important;
    font-family: 'HelveticaNeueRegular';
}

.CartPaymentContainer .cartpayment-value {
    color: #212529;
    letter-spacing: 0.24px !important;
    line-height: 2.8 !important;
    font-weight: 300 !important;
    font-size: 0.9rem !important;
    font-family: 'HelveticaNeueRegular';
}

.CartPaymentContainer .line {
    background-color: #d6d6d6;
    height: 1px;
    width: 100%;
    margin: 10px 0px;
}

.CartPaymentContainer .cartpayment-total-label {
    color: #212529;
    line-height: 1.75 !important;
    letter-spacing: 0.32px !important;
    font-weight: bold !important;
    font-size: 1.1rem !important;
    font-family: 'HelveticaNeueBold';
}

.CartPaymentContainer .cartpayment-total-value {
    color: #000000;
    line-height: 1.75 !important;
    letter-spacing: 0.32px !important;
    font-weight: bold !important;
    font-size: 1.1rem !important;
    font-family: 'HelveticaNeueMedium';
}

.CartPaymentContainer .paymentCheckout {
    background-color: #000000;
    width: 100% !important;
    margin-top: 20px;
    font-family: 'HelveticaNeueMedium';
}

.CartPaymentContainer .paymentCheckout:hover {
    border-radius: 4px !important;
    background-color: #ee0e19;
    width: 100% !important;
}
.CartPaymentContainer .paymentCheckout span {
    color: #ffffff;
    line-height: 1.65;
    letter-spacing: 0.17px;
    font-weight: bold;
    font-size: 1rem;
    text-transform: capitalize;
}

.continue-shopping-button {
    margin-top: 3rem !important;
    border-radius: 4px !important;
    border: solid 1px #000000 !important;
    background-color: #ffffff !important;
    text-transform: capitalize !important;
    width: 100%;
}

.continue-shopping-button span {
    color: #000000;
    line-height: 1.5;
    letter-spacing: 0.26px;
    font-weight: 300;
    font-size: 1.2rem;
    padding: 4px 0px;
    font-family: 'HelveticaNeueMedium';
}

.right-icon {
    font-size: 1.8rem !important;
    margin-left: 1rem !important;
    margin-right: 0px !important;
}

.voucher-cnt {
    display: flex;
    justify-content: space-between;
}
.voucher-apply-btn {
    width: 30%;
    font-family: 'HelveticaNeueMedium';
}
.voucher-input {
    width: 68%;
    background: #FFFFFF;
    border: none;
    margin-right: 0.1em;
}


@media(max-width: 668px) {
    .CartPaymentContainer {
        margin-top: 2rem !important;
    }
}