.point {
    padding-left: 2rem;
}
.sub-point {
    padding-left: 2rem;
}
.main-container {
    .t-n-c {
        h1 {
            font-size: 2rem;
            text-align: center;
            font-family: 'HelveticaNeueBold';
        }
        h4 {
            text-align: center;
            font-size: 1.2rem;
            font-family: 'HelveticaNeueMedium';
        }
        .common-para {
            padding-bottom: 2rem;
            font-size: 0.95rem;
            font-family: 'HelveticaNeueRegular';
        }
        .tnc-main {
            display: flex;
            .tnc-tabs {
                width: 30%;
                display: flex;
                background-color: #fecc2f;
                height: fit-content;
                .sticky {
                    position: -webkit-sticky; /* Safari */
                    position: sticky;
                    top: 0;
                    display: flex;
                    padding: 1rem 0rem;
                    flex-direction: column;
                }
                .activeTab {
                    color: #000000;
                    font-weight: bold;
                    border-left: 4px solid;
                }
                small {
                    padding: 1rem 1.2rem;
                    font-size: 1rem;
                    color: #4b4b4b;
                    cursor: pointer;
                }
            }
            .tnc-data {
                width: 100%;
                padding-left: 2rem;
                span {
                    font-size: 1rem;
                }
                p {
                    font-size: 0.95rem;
                    font-family: 'HelveticaNeueRegular';
                    line-height: 1.6rem;
                }
            }
            .tnc-data1 {
                display: none;
            }
        }
    }
}

// Mobile Responsive

@media (max-width: 800px) {
    .main-container {
        .t-n-c {
            padding: 1rem;
            .tnc-main {
                display: flex;
                .tnc-tabs {
                    display: none;
                }
                .tnc-data {
                    display: none;
                }
                .tnc-data1 {
                    padding-left: 0px;
                    font-size: 0.2rem;
                    display: block;
                    .tnc-collapsible {
                        border: 1px solid #000000;
                        padding: 1rem;
                        margin: 2rem 0px;
                        .collapse-heading {
                            font-size: 1.2rem;
                            text-align: left;
                        }
                        .collapse-data {
                            font-size: 1rem;
                        }
                        .tnc-col-flex {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                        }
                    }
                }
            }
        }
    }
}
