.brand-container{
    margin: 0px 5rem;

}
.breadcrumbs{
   margin-left: 1.5em;
}
.main-heading{
    margin: 1rem;
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 2rem;
}
.search-container{
    position: relative;
    background-color: #fff;
    color: #000;
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
}

.search-icon{
    height: 100%;
    position: absolute;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.brand-input{
    margin: 0px auto;
    width: 350px;
    
}
.brand-items{
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.brand-s{
    min-width:25%;
    text-align:left;
}

.alphabets{
    text-align:center;
}


/* Mobile view */
@media only screen and (max-width: 768px){

    .brand-container{
    margin: 0px 1rem;

}
.breadcrumbs{
   margin-left: 0em;
   margin-top: 0px;
}
.main-heading{
    margin: 0.5rem;
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
}
.search-container{
    position: relative;
    background-color: #fff;
    color: #000;
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
}

.search-icon{
    height: 100%;
    position: absolute;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.brand-input{
    margin: 0px auto;
    width: 350px;
    
}
.brand-items{
    width:100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.brand-s{
    min-width:25%;
    text-align:left;
}

.main-container{
    display:none;
}

.search-container{
    display:none;
}

.alphabets{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

}