.breadcrumbs {
    margin-bottom: 10px !important;
    margin-top: 15px !important;
    display: flex;
    align-items: center;
    p {
        font-size: 0.9rem !important;
    }
    a {
        color: #8b8b8b;
        font-size: 0.9rem !important;
    }
    .MuiBreadcrumbs-separator {
        margin: 3px 0px;
        svg {
            font-size: 1.3rem;
            color: #838383;
        }
    }
}

@media (max-width: 668px) {
    .breadcrumbs {
        padding: 0px 1.5rem;
        margin-top: 15px !important;
        margin-bottom: 15px !important;
    }
}
