.not_found_page {
    height: 90vh;
    width: 100%;
    background-color: #000000;
    &_background {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        .top_label {
            font-family: 'HelveticaNeueBold';
            color: #ffffff;
            font-size: 1.2rem;
            margin-top: 2.5rem;
        }
        div {
            text-align: center;
        }
        h1 {
            color: #ffffff;
            font-size: 15rem;
            margin-top: 3rem;
            margin-bottom: 3rem;
            font-family: 'HelveticaNeueBold';
            position: relative;
            img {
                position: absolute;
                top: 36%;
                left: 45%;
            }
        }
        button {
            background-color: #ffffff;
            text-transform: capitalize;
            color: #000000;
            border-radius: 0px;
            padding: 0.5rem 2rem;
            font-family: 'HelveticaNeueBold';
            &:hover {
                background-color: #ffffff;
            }
        }
    }
}

@media (max-width: 668px) {
    .not_found_page {
        &_background {
            h1 {
                font-size: 10rem;
                img {
                    left: 36%;
                    width: 100px;
                    top: 33%;
                }
            }
        }
    }
}
