
.WebFilter {
    /* border-right: 1px solid #dedede; */
}

.WebFilter .Collapsible {
    border-bottom: 1px solid #dedede;
}

.WebFilter .f_Brand {
    color: #000000;
    padding: 10px 0px;
    font-weight: bold;
    font-size: 1rem;
}

.WebFilter .Collapsible_text {
    color: #000000;
    line-height: 5;
    font-size: 1rem;
    font-family: 'HelveticaNeueMedium';
    letter-spacing: normal;
}

.WebFilter .Icon {
    color: black;
    margin-right: 15px;
}

.mobile_filter_text_container .Collapsible{
    border-bottom: 1px solid #dedede;
}

.mobile_filter_text_container .f_Brand {
    color: #000000;
    padding: 10px 0px;
    font-weight: bold;
    font-size: 1rem;
}

.mobile_filter_text_container .Collapsible_text {
    color: #000000;
    line-height: 5;
    font-size: 1rem;
    font-family: 'HelveticaNeueMedium';
    letter-spacing: normal;
}

.mobile_filter_text_container .Icon {
    color: black;
    margin-right: 15px;
}

.scroll-plp-filter {
    max-height: 300px;
    overflow: scroll;
    margin-right: 22px;
    padding-left: 8px;
}

.MuiCheckbox-colorSecondary.Mui-checked {
    color: #0c943f !important;
}

.MobileApplyFilter {
    background-color: #ffffff;
}

.scroll-plp-filter::-webkit-scrollbar {
    width: 5px;
}

.scroll-plp-filter::-webkit-scrollbar-thumb {
    background-color: #000000;
}

.MobileApplyFilter .noFilterSelected {
    color: #989898;
    line-height: 1.33;
    letter-spacing: 0.56px;
    font-weight: 300;
    font-size: 1.2rem;
    padding: 0px 20px;
}

.selectedAndCloseContainer {
    padding: 12px 0px !important;
}

.FileterAndSortContainer {
    height: max-content;
    text-align: center;
    position: relative;
    align-items: center;
    padding-top: 10px;
    margin: 0px 0px 10px !important ;
}

.close-filter-button-mobile{
    position: absolute;
    top: 0px;
    right: 0px;
}

.clear-filter-button-mobile{
    position: absolute !important;
    top: 12px !important;
    left: 15px !important;
    cursor: pointer;
    font-size: 12px !important;
}

.FileterAndSortContainer span {
    color: #212529;
    letter-spacing: 0.56px;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 0px 0px;
    position: relative;
    line-height: 30px;
    top:2px;
}

.mobile-filter-container {
    margin-bottom: 80px;
}

.mobile_filter_text_container {
    padding:0px 10px 0px 20px;
}

.mobile_filter_text_container svg {
    color: black;
}

.mobile_filter_text_container-1 {
    padding:0px 10px 0px 20px;
}

.mobile_filter_text_container-1 svg {
    color: black;
}

.mobileFilter-text {
    color: black;
    line-height: 3.33 !important;
    letter-spacing: 0.48px !important;
    font-weight: bold !important;
    font-family: "VAG Rounded ELC Bold" !important;
    font-size: 1.2rem !important;
}

.mobileFilterButtonConatiner {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 1000;
}

.mobileFilterButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.mobileClearFilterButton {
    background-color: #ffffff;
    border-top: 1px solid black;
}

.mobileApplyFilterButton {
    background-color: #000000;
    color: white;
    font-family: 'HelveticaNeueMedium';
}

.mobileClearFilterButton span {
    color: black;
    letter-spacing: 0.52px;
    line-height: 1.18;
    font-weight: 300;
    font-size: 1.3rem;
}

.mobileApplyFilterButton span{
    color: #ffffff;
    letter-spacing: 0.26px;
    line-height: 1.17;
    font-weight: bold;
    font-size: 1.3rem;
    font-family: "VAG Rounded ELC Bold" !important;
}

html[dir="rtl"] .filterpanal {
    text-align: right;
}

html[dir="rtl"] .scroll-plp-filter {
    margin-right: 0;
    margin-left: 25px;
}

html[dir="rtl"] .WebFilter {
    border-right: 0px solid #dedede;
    border-left: 1px solid #dedede;
}

html[dir="rtl"] .Collapsible_text_container {
    padding: 0px 25px 0px 18px
}

html[dir="rtl"] .FilterAndClear {
    text-align: right;
    padding-right: 25px;
}

html[dir="rtl"] .mobile_filter_text_container {
    padding: 0px 20px 0px 10px;
}

html[dir="rtl"] .mobile_filter_text_container-1 {
    padding: 0px 0px 0px 10px;
    text-align: right;
}

html[dir="rtl"] .mobileApplyFilterButton span {
    font-size: 1rem;
}

html[dir="rtl"] .mobileClearFilterButton  span {
    font-size: 1rem;
}

.size-heading th {
    padding-bottom: 1rem;
}

.size-data td {
    padding-bottom: 1rem;
}


@media(max-width: 668px) {
    html[dir="rtl"] .ar-text-right {
        text-align: right;
    }
}
