.contact-us {
    padding: 50px;
    .heading-title {
        font-family: 'HelveticaNeueBold';
        font-size: 36px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.67;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
    }
    .first-section {
        padding: 20px 0px;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        margin: 45px 0px 0px;
        .message {
            text-align: center;
            ul {
                list-style-type: none;
                li {
                    display: inline-block;
                    vertical-align: top;
                    padding: 0px 5px;
                    svg {
                        margin-top: 5px;
                    }
                    .lebel-text {
                        font-size: 14px;
                        font-weight: 300;
                        font-stretch: normal;
                        font-style: normal;
                        font-family: 'HelveticaNeueRegular';
                        letter-spacing: normal;
                        text-align: left;
                        color: #000000;
                    }
                    .bold-text {
                        font-size: 16px;
                        font-weight: bold;
                        font-stretch: normal;
                        font-style: normal;
                        letter-spacing: normal;
                        text-align: left;
                        color: #000000;
                        font-family: 'HelveticaNeueRegular';
                    }
                    .email {
                        margin-right: 10px;
                        margin-top: 3px;
                    }
                }
            }
        }
    }
    .second-section {
        padding: 30px 50px 0;
        .Second-heading {
            text-align: center;
            font-size: 22px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 2.96;
            letter-spacing: normal;
            text-align: center;
            color: #000000;
            font-family: 'HelveticaNeueRegular';
        }
        .box {
            margin: 20px 15px 20px;
            padding: 15px 21px 15px;
            border: solid 1px #d1d1d1;
            ul {
                list-style-type: none;
                padding-left: 0;
                position: relative;
                cursor: pointer;
                .rightIcon {
                    position: absolute;
                    right: 0;
                    svg {
                        font-size: 1.5rem;
                    }
                }
                li {
                    display: inline-block;
                    vertical-align: top;
                    padding: 0px 5px;
                    .lebel-text {
                        font-size: 14px;
                        font-weight: 300;
                        font-stretch: normal;
                        font-style: normal;
                        font-family: 'HelveticaNeueRegular';
                        letter-spacing: normal;
                        text-align: left;
                        color: #000000;
                    }
                    .bold-text {
                        font-size: 14px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;

                        letter-spacing: normal;
                        text-align: left;
                        color: #000000;
                        font-family: 'HelveticaNeueRegular';
                    }
                    .email {
                        margin-right: 10px;
                        margin-top: 3px;
                    }
                }
            }
        }
    }
    .social-section {
        padding: 20px 20px;
        text-align: center;
        .heading {
            font-size: 22px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            letter-spacing: normal;
            text-align: center;
            color: #000000;
            font-family: 'HelveticaNeueRegular';
        }
        ul {
            list-style-type: none;
            padding-left: 0;
            margin: 0;
            li {
                display: inline-block;
                vertical-align: middle;
                padding: 0px 5px;
            }
        }
        .reach-us {
            font-size: 22px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 2.96;
            letter-spacing: normal;
            text-align: center;
            color: #000000;
            font-family: 'HelveticaNeueRegular';
            margin-top: 30px;
            margin-bottom: 6px;
        }
        .address-text {
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.71;
            letter-spacing: normal;
            text-align: center;
            font-family: 'HelveticaNeueRegular';
            color: #000000;
        }
    }
}
@media (max-width: 768px) {
    .contact-us {
        padding: 20px;
    }
    .contact-us .first-section .message ul {
        list-style-type: none;
        padding-left: 0;
        margin: 0;
    }
    .contact-us .first-section .message {
        text-align: left;
    }
    .contact-us .second-section {
        padding: 10px 0 0 0;
    }
    .contact-us .second-section .Second-heading {
        line-height: 1.5;
        margin: 15px 0 20px;
        font-size: 17px;
    }
    .contact-us .second-section .box {
        margin: 0px 0px 0px;
        padding: 0px 21px 0px;
        border: solid 1px #d1d1d1;
    }
}

@media (max-width: 1100px) {
    .contact-us {
        padding: 20px;
    }
}
// @media only screen and (min-width: 600px) and (max-width: 900px) {
//     .logo-section .logo-div div {
//         width: 20%;
//     }
// }
// @media only screen and (min-width: 900px) and (max-width: 1100px) {
//     .logo-section .logo-div div {
//         width: 15%;
//     }
// }
