.CartItem {
    padding: 30px 0px;
    border-bottom: 1px solid #d7d7d7;
}

.CartItemM {
    padding: 30px 5px 8px;
    margin-bottom: 10px;
}

.CartItem .cartItemImage {
    width: 9rem;
    height: 9rem;
}

.CartItemM .cartItemImageM {
    width: 7rem;
    height: 7rem;
}

.CartItem .cartItemName {
    color: #212529;
    line-height: 1.38 !important;
    padding-bottom: 12px !important;
    letter-spacing: 0.16px !important;
    font-weight: bold !important;
    font-size: 0.9rem !important;
    font-family: 'HelveticaNeueMedium';
}

.CartItemM .cartItemName {
    color: #212529;
    line-height: 1.38 !important;
    padding-bottom: 12px !important;
    letter-spacing: 0.16px !important;
    font-weight: bold !important;
    font-size: 1.1rem !important;
    font-family: 'VAG Rounded ELC Bold' !important;
}

.CartItem .cart-showing-price {
    color: #4f4f4f !important;
    letter-spacing: 0.16px !important;
    font-weight: 300 !important;
    font-size: 1.1rem !important;
}

.CartItem .cart-showing-price-strik {
    color: #b3b3b3 !important;
    letter-spacing: 0.16px !important;
    font-weight: 300 !important;
    font-size: 1.1rem !important;
    text-decoration: line-through;
}

.CartItemM .cart-showing-price {
    color: #0c943f !important;
    letter-spacing: 0.26px !important;
    font-weight: bold !important;
    font-size: 1.2rem !important;
    line-height: 2.77;
    padding-right: 10px;
    font-family: 'VAG Rounded ELC Bold' !important;
}

html[dir='rtl'] .ar-right {
    text-align: right;
}

.CartItemM .cart-showing-price-strik {
    color: #b3b3b3 !important;
    letter-spacing: 0.26px !important;
    font-weight: 300 !important;
    font-size: 1.1rem !important;
    text-decoration: line-through;
}

html[dir='rtl'] .CartItem .cartItemName {
    text-align: right;
}

html[dir='rtl'] .CartItemM .cartItemName {
    text-align: right;
}

.CartItem .cartItemOtherDetailText {
    color: #212529;
    line-height: 1.45 !important;
    letter-spacing: 0.11px !important;
    font-weight: 300 !important;
    font-size: 0.8rem !important;
}

.CartItem .cartItemOtherDetailText span {
    color: #4f4f4f;
    line-height: 1.45 !important;
    letter-spacing: 0.11px !important;
    font-weight: 300 !important;
    font-size: 0.8rem !important;
}

.CartItemM .cartItemOtherDetailText {
    color: #212529;
    line-height: 1.45 !important;
    letter-spacing: 0.11px !important;
    font-weight: 300 !important;
    font-size: 0.8rem !important;
}

.CartItemM .cartItemOtherDetailText span {
    color: #4f4f4f;
    line-height: 1.45 !important;
    letter-spacing: 0.11px !important;
    font-weight: 300 !important;
    font-size: 0.8rem !important;
}

html[dir='rtl'] .CartItem .cartItemOtherDetailText {
    text-align: right;
}

html[dir='rtl'] .CartItemM .cartItemOtherDetailText {
    text-align: right;
}

.CartItem .cartItemWishlist {
    color: #000000;
    line-height: 2.18 !important;
    letter-spacing: 0.11px !important;
    font-weight: 300 !important;
    font-size: 0.8rem !important;
    padding-top: 22px !important;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.CartItem .cartItemWishlist svg {
    margin-right: 9px;
    font-size: 1rem;
    position: relative;
    top: -1px;
}

html[dir='rtl'] .CartItem .cartItemWishlist svg {
    margin-right: 0px;
    margin-left: 9px;
}

.CartItem .addAndRemove {
    margin-top: 0px;
}

.CartItem .addAndRemove .MuiOutlinedInput-input {
    padding: 14.5px 14px !important;
    text-align: center;
    border-right: 1px solid #d7d7d7;
    border-left: 1px solid #d7d7d7;
    color: #212529;
    font-weight: bold;
    font-size: 1rem;
}

.CartItem .addAndRemove svg {
    color: #000000;
}

.CartItem .addAndRemove .MuiIconButton-root.Mui-disabled svg {
    color: rgba(0, 0, 0, 0.26);
}

.CartItem .addAndRemove .centerAdornmentL {
    margin-left: 10%;
}

.CartItem .addAndRemove .centerAdornmentR {
    margin-right: 10%;
}

html[dir='rtl'] .CartItem .addAndRemove .centerAdornmentL {
    margin-right: 10%;
    margin-left: 0;
}

html[dir='rtl'] .CartItem .addAndRemove .centerAdornmentR {
    margin-left: 10%;
    margin-right: 0;
}

.CartItemM .addAndRemove {
    margin-top: 10px;
}

.CartItemM .addAndRemove .MuiOutlinedInput-input {
    padding: 8.5px 14px !important;
    text-align: center;
    border-right: 1px solid #d7d7d7;
    border-left: 1px solid #d7d7d7;
    color: #212529;
    font-weight: bold;
    font-size: 1rem;
}

.CartItemM .addAndRemove svg {
    color: #0d943f;
    font-size: 1rem !important;
}

.CartItemM .addAndRemove .MuiIconButton-root.Mui-disabled svg {
    color: rgba(0, 0, 0, 0.26);
}

.CartItemM .addAndRemove .centerAdornmentL {
    margin-left: 2%;
    margin-right: 2%;
}

.CartItemM .addAndRemove .centerAdornmentR {
    margin-right: 2%;
    margin-left: 2%;
}

html[dir='rtl'] .CartItemM .addAndRemove .centerAdornmentL {
    margin-right: 2%;
    margin-left: 0;
}

html[dir='rtl'] .CartItemM .addAndRemove .centerAdornmentR {
    margin-left: 2%;
    margin-right: 0;
}

.CartItemM .addAndRemove .MuiOutlinedInput-adornedEnd {
    padding-right: 2px;
}

.CartItemM .addAndRemove .MuiOutlinedInput-adornedStart {
    padding-left: 2px;
}

.CartItem .cartSubTotal {
    font-size: 1.1rem !important;
    font-weight: bold !important;
    font-stretch: normal !important;
    font-style: normal !important;
    letter-spacing: normal !important;
    text-align: right;
    color: #000000;
    font-family: 'HelveticaNeueMedium';
}

html[dir='rtl'] .CartItem .cartSubTotal {
    text-align: left;
}

.CartItem .cartSubTotal svg {
    color: #575757;
    font-size: 0.8rem;
    margin-left: 20px;
    cursor: pointer;
}

html[dir='rtl'] .CartItem .cartSubTotal svg {
    margin-left: 0px;
    margin-right: 20px;
}

.CartItem .CartAvailableFor {
    padding-top: 20px;
}

.CartItem .CartAvailableFor .availableFor-text {
    color: #0c943f;
    line-height: 1.85 !important;
    letter-spacing: 0.13px !important;
    font-weight: 300 !important;
    font-size: 0.9rem !important;
}

.CartItemM .CartAvailableFor .availableFor-text {
    color: #0c943f;
    line-height: 1.3 !important;
    letter-spacing: 0.13px !important;
    font-weight: 300 !important;
    font-size: 0.7rem !important;
    font-weight: bold !important;
    font-family: 'VAG Rounded ELC Bold' !important;
    padding-top: 12px;
}

.CartItem .CartAvailableFor .MuiListItemText-primary {
    color: #0c943f;
    line-height: 1.85 !important;
    letter-spacing: 0.13px !important;
    font-weight: 300 !important;
    font-size: 0.9rem !important;
}

.CartItemM .CartAvailableFor .MuiListItemText-primary {
    color: #0c943f;
    line-height: 1.85 !important;
    letter-spacing: 0.13px !important;
    font-weight: 300 !important;
    font-size: 0.7rem !important;
}

.CartItem .CartAvailableFor .MuiSvgIcon-root-Free {
    min-width: 25px;
}

.CartItem .CartAvailableFor .p-t-b {
    padding-top: 0px;
    padding-bottom: 0px;
}

.CartItemM .CartAvailableFor .p-t-b {
    padding-top: 0px;
    padding-bottom: 0px;
}

.CartItem .CartAvailableFor .line {
    height: 1rem;
    background: #b5b5b5;
}

.CartItemM .CartAvailableFor .line {
    height: 1rem;
    background: #b5b5b5;
}

.CartItem .CartAvailableFor .MuiListItemIcon-root {
    min-width: 35px;
}

.CartItem .CartAvailableFor .padding-right-zero {
    padding-right: 0px;
}

.CartItemM .CartAvailableFor .padding-right-zero {
    padding-right: 0px;
}

html[dir='rtl'] .CartItem .CartAvailableFor .padding-right-zero {
    padding-right: 16px;
    padding-left: 0px;
}

html[dir='rtl'] .CartItemM .CartAvailableFor .padding-right-zero {
    padding-right: 16px;
    padding-left: 0px;
}

.CartItemM .CartAvailableFor .p-l-zero {
    padding-left: 0px;
}

html[dir='rtl'] .CartItemM .CartAvailableFor .p-l-zero {
    padding-right: 0px;
    padding-left: 16px;
}

.displayFlexAlignEnd {
    align-items: flex-end;
    display: flex;
}

.CartItemM .removeAndWishListContainer {
    border-bottom: 2px solid #efefef;
    border-top: 2px solid #efefef;
    padding: 15px 0px;
    margin: 10px 0px 0px;
}

.CartItemM .removeItem {
    color: #4f4f4f;
    line-height: 1.4 !important;
    letter-spacing: 0.4px !important;
    font-weight: 300 !important;
    font-size: 1rem !important;
}

.CartItemM .removeItem svg {
    font-size: 1.1rem !important;
    position: relative;
    top: -1px;
    margin-right: 6px;
}

.CartItemM .WishListM {
    color: #0c943f;
    line-height: 1.4 !important;
    letter-spacing: 0.4px !important;
    font-weight: 300 !important;
    font-size: 1rem !important;
}

.CartItemM .WishListM svg {
    font-size: 1.1rem !important;
    position: relative;
    top: -1px;
    margin-right: 6px;
}

.CartItemM .lineVertical {
    height: 18px;
    width: 2px;
    background-color: #efefef;
}

html[dir='rtl'] .CartItemM .WishListM svg {
    margin-left: 6px;
    margin-right: 0px;
}

html[dir='rtl'] .CartItemM .removeItem svg {
    margin-left: 6px;
    margin-right: 0px;
}

.gift-wrap {
    width: 100%;
}
