#homepage {
    .subtitle-text {
        font-family: 'HelveticaNeueBold';
        font-size: 2.3rem;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.96;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
        padding: 10px 0px;
        margin-bottom: 1rem;
    }
    .storytelling {
        margin: 30px auto;
        width: 85%;
    }
    .new-arrival-section {
        h3 {
            font-weight: bold;
        }
        .new-arrival {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .view-all-btn {
                border-bottom: 1px solid;
                font-weight: 400;
                line-height: 1;
                font-family: 'HelveticaNeueLight' !important;
                cursor: pointer;
                color: #000 !important;
            }
        }
    }

    .banner-card-container {
        background-color: #fff;
        width: 85%;
        margin: 30px auto;
        padding: 0;
        .inner-container {
            box-shadow: 0px 12px 15px 0 rgba(0, 0, 0, 0.07);
            background-color: #ffffff;
            padding: 0;
            max-width: calc(50% - 16px);
            margin: 8px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        @media (max-width: 764px) {
            .inner-container {
                max-width: calc(100% - 16px);
            }
        }
        .product-detail-container {
            margin: 24px;

            .banner-card-title {
                font-family: 'HelveticaNeueBold';
                font-size: 1.6rem;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.33;
                letter-spacing: normal;
                text-align: left;
                color: #000000;
                margin-bottom: 0.7rem;
            }

            .banner-card-discription {
                font-family: 'HelveticaNeueRegular';
                font-size: 0.9rem;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.63;
                letter-spacing: normal;
                text-align: left;
                color: #000000;
                margin-bottom: 1rem;
            }
            a {
                text-decoration: none;
            }
            .view-button {
                margin: 16px 0;
                font-family: 'HelveticaNeueMedium' !important;
                font-size: 1rem;
                color: #fff;
                border-radius: 0;
                font-weight: 500;
                width: 94px;
                text-transform: capitalize;
                padding: 0.5rem 4rem;
                background-color: #000000;
            }
        }
    }
    .services-section {
        .section-inner {
            border-right: 1px solid #e0e0e0;
            padding: 10px 25px;
            .brandTitle {
                padding: 10px 20px;
                text-transform: capitalize;
                font-size: 14px;
                min-height: 40px;
                font-family: 'HelveticaNeueRegular';
            }
            img {
                width: 60px;
            }
        }
        .section-inner.last {
            border-right: none;
        }
        .freeShipping {
            padding: 30px 0px 10px 0px;
            font-family: 'HelveticaNeueMedium';
            font-size: 1.2rem;
        }
        .spec {
            .text {
                font-size: 1rem;
                color: #4b4b4b;
                font-family: 'HelveticaNeueLight';
            }
        }
    }

    .video-block {
        .img-box-item {
            width: 99%;
        }
    }

    @media (max-width: 767px) {
        .services-section {
            .section-inner {
                margin: 0px 5px;
                position: relative;
                padding: 10px 10px;
                .brandTitle {
                    padding: 5px 0px;
                    min-height: 60px;
                    font-size: 11px;
                }
                .extraBlock {
                    background: #fff;
                    width: 15px;
                    height: 15px;
                    position: absolute;
                    right: -8px;
                    bottom: -8px;
                    z-index: 99;
                }
            }
            .section-inner.first {
                border-bottom: 1px solid lightgray;
            }
            .section-inner.first.third {
                border-right: none;
            }
            .spec {
                padding: 0px 5px;
            }
        }
    }
}

.section-t-b-p {
    padding: 16px;
}

.webBanner {
    .slick-dots {
        position: absolute;
        bottom: 25px !important;
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
    }

    .slick-dots li button:before {
        line-height: 0px;

        width: 100%;
        border-bottom: 2px solid gray;
        color: transparent;

        outline: none;
        background: transparent;
    }

    .slick-next {
        right: 15px !important;
        z-index: 1;
    }

    .slick-prev {
        left: 15px !important;
        z-index: 1;
    }

    .banner-image-hight {
        height: auto;
        width: 100%;
    }

    .slick-dots li.slick-active button:before {
        line-height: 0px;

        width: 100%;
        border-bottom: 2px solid #000;
        color: transparent;

        outline: none;
        background: transparent;
        color: transparent;
    }

    .slick-dots li button:hover,
    .slick-dots li button:focus {
        color: #000 !important;
    }

    html[dir='rtl'] .slick-next {
        left: auto !important;
    }
}

.faq-section {
    max-width: 85%;
    margin: 0 auto;
    padding: 0px 0px 40px;
    border-bottom: 1px solid #000;
    .breadcrumbs {
        padding: 0px;
    }
    .maintitle {
        text-align: center;
        font-weight: bold;
        border-bottom: 1px solid #000;
        font-size: 36px;
        padding: 20px 0px;
    }
    .title {
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        padding: 10px;
        margin-top: 20px;
    }
    .answer-text {
        margin-top: 15px;
        text-align: start;
        color: #5f5f5f;
    }
    .CollapsibleOuter {
        border: 1px solid lightgray;
        padding: 30px;

        .Collapsible {
            position: relative;
            padding: 15px 0px;
            display: block;
            border-bottom: 1px solid #d1d1d1;
            cursor: pointer;
            .Collapsible__contentOuter {
                padding: 10px 0px 0px 0px;
            }
            .Icon {
                position: absolute;
                right: 0;
                top: 15px;
                width: 15px;
            }
        }
    }
}

.whoWeAre-section {
    max-width: 85%;
    margin: 0 auto;
    padding: 30px 0px 40px;
    border-bottom: 1px solid #000;
    .row {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
    }
    .col-md-6 {
        flex-grow: 0;
        max-width: 50%;
        flex-basis: 48%;
    }
    .col-xs-12 {
        flex-grow: 0;
        max-width: 100%;
        flex-basis: 100%;
    }
    .maintitle {
        text-align: center;
        font-weight: bold;
        border-bottom: 1px solid #000;
        font-size: 25px;
        padding: 20px 0px;
    }
    .whoWeAre-section-inner {
        max-width: 85%;
        margin: 0 auto;
        .whoWeAre-section-innerMain {
            padding: 50px 0px 0px 0px;
            .one {
                padding-right: 10px;
            }
            .two {
                padding-left: 20px;
            }
            .paraNormal {
                font-size: 12px;
                font-family: 'HelveticaNeueRegular';
                padding: 5px 0px;
            }
            .paraNormal.nopadd {
                padding-top: 0px;
            }
            .paraBold {
                font-family: 'HelveticaNeueRegular';
                font-size: 22px;
                line-height: 2rem;
                padding: 10px 0px;
            }
            .title {
                font-size: 22px;
                font-weight: bold;
                font-family: 'HelveticaNeueRegular';
            }
            .list {
                padding-inline-start: 20px;
                li {
                    font-family: 'HelveticaNeueRegular';
                    line-height: 25px;
                    font-size: 15px;
                    font-weight: normal;
                }
            }
            .image {
                width: 100%;
            }
        }
    }
}

@media (max-width: 767px) {
    .whoWeAre-section {
        .secondSection {
            flex-direction: column-reverse;
        }
        .whoWeAre-section-inner {
            max-width: 100%;
            .whoWeAre-section-innerMain {
                .one {
                    padding: initial;
                }
                .two {
                    padding: initial;
                }
            }
            .mobile-center {
                text-align: center;
            }
            .col-md-6 {
                flex-grow: 0;
                max-width: 100%;
                flex-basis: 100%;
            }
            .col-xs-12 {
                flex-grow: 0;
                max-width: 100%;
                flex-basis: 100%;
            }
        }
    }
}

// signin section
.signin {
    margin: 0 auto 4rem;
    .mainTitle {
        text-align: center;
        border-bottom: 1px solid #000;
        padding-bottom: 20px;
        p {
            font-family: 'HelveticaNeueBold';
            font-weight: bold;
            font-size: 25px;
            text-transform: capitalize;
        }
    }
    .signinCode {
        border: 1px solid #000;
        margin-top: 30px;
        .titleGroup {
            div {
                display: flex;
                align-items: flex-start;
                .MuiIconButton-colorSecondary {
                    padding-left: 0px;
                    padding-top: 3px;
                }
                .MuiRadio-colorSecondary.Mui-checked {
                    color: #000 !important;
                }
            }
            padding: 15px;
            border-bottom: 1px solid;
            .title {
                font-family: 'HelveticaNeueMedium';
                font-size: 1.2rem;
            }
            .info {
                font-family: 'HelveticaNeueRegular';
                font-size: 0.9rem;
            }
        }
        .descGroup {
            padding: 20px;
            .MuiTextField-root {
                width: 100%;
            }
            .MuiOutlinedInput-input {
                padding: 14px;
            }
            .titleInput {
                font-family: 'HelveticaNeueMedium';
                font-size: 0.8rem;
                padding-top: 10px;
                color: #4b4b4b;
                line-height: 25px;
            }
            .input {
                width: 95%;
                height: 30px;
                margin-bottom: 10px;
            }
            .forgotPassword {
                font-family: 'HelveticaNeueRegular';
                font-size: 0.8rem;
                border-bottom: 1px solid #838383;
                width: fit-content;
                text-transform: capitalize;
                color: #838383;
                margin-top: 0.5rem;
            }
            .signin-button {
                margin: 16px 0;
                font-family: 'HelveticaNeueMedium';
                font-size: 1rem;
                color: #fff;
                border-radius: 0;
                font-weight: 500;
                width: 100%;
                text-transform: capitalize;
                padding: 0.5rem 4rem;
                background-color: #000000;
            }
            .orOuter {
                position: relative;
                padding-bottom: 15px;
                .or {
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    top: -7px;
                    background: #fff;
                    width: fit-content;
                    padding: 0 10px;
                    font-size: 10px;
                }
            }
            .social {
                .outer {
                    .google {
                        display: flex;
                        justify-content: center;
                        .image {
                            width: 15px;
                            height: 15px;
                        }
                        .text {
                            padding-left: 5px;
                            font-family: 'HelveticaNeueMedium';
                            font-weight: 500;
                            font-size: 12px;
                        }
                        button {
                            width: 100%;
                            margin: 0;
                            height: 40px;
                            box-shadow: none !important;
                            border: 1px solid #000 !important;
                            border-radius: 0px;
                            text-transform: capitalize !important;
                            div {
                                padding: 0px 1rem !important;
                            }
                            span {
                                font-family: 'HelveticaNeueMedium';
                                font-weight: 500;
                            }
                        }
                    }
                    .facebook {
                        display: flex;
                        margin-left: 10px;
                        justify-content: center;
                        button {
                            font-size: 0.8rem;
                            font-weight: 400;
                            padding: 5px 10px;
                            background-color: #ffffff;
                            font-family: 'HelveticaNeueMedium';
                            border: 1px solid #000 !important;
                            height: 40px;
                            color: #000;
                            text-transform: capitalize;
                        }
                    }
                }
            }
        }
    }
    .register {
        border: 1px solid #000;
        margin-top: 30px;
        .titleGroup {
            div {
                display: flex;
                align-items: flex-start;
                .MuiIconButton-colorSecondary {
                    padding-left: 0px;
                    padding-top: 3px;
                }
                .MuiRadio-colorSecondary.Mui-checked {
                    color: #000 !important;
                }
            }
            padding: 15px;
            border-bottom: 1px solid;
            .title {
                font-family: 'HelveticaNeueRegular';
                font-size: 18px;
            }
            .info {
                font-family: 'HelveticaNeueRegular';
                font-size: 0.9rem;
            }
        }
        .descGroup {
            padding: 20px;
            .titleInput {
                font-family: 'HelveticaNeueRegular';
                font-size: 10px;
                padding-top: 10px;
            }
            .input {
                width: 100%;
                height: 30px;
                margin-bottom: 10px;
            }
            .forgotPassword {
                font-family: 'HelveticaNeueRegular';
                font-size: 10px;
                border-bottom: 1px solid #000;
                width: fit-content;
                text-transform: capitalize;
            }
            .signin-button {
                margin: 16px 0;
                font-family: 'HelveticaNeueMedium';
                font-size: 1rem;
                color: #fff;
                border-radius: 0;
                font-weight: 500;
                width: 100%;
                text-transform: capitalize;
                padding: 0.5rem 4rem;
                background-color: #000000;
            }
            .fname {
                padding-right: 15px;
            }
            .lname {
                padding-left: 15px;
            }
            .password {
                padding-right: 15px;
            }
            .confirmPassword {
                padding-left: 15px;
            }
        }
    }
}

// blog css
.blog {
    max-width: 85%;
    margin: 0 auto;
    padding: 30px 0px 40px;
    border-bottom: 1px solid #000;
    .section-headig {
        font-size: 35px;
        font-weight: 600;
    }
    .view-all {
        margin-top: 20px;
        display: inline-block;
        color: black;
        font-family: 'HelveticaNeueLight';
        font-size: 1rem;
    }
    .center-right {
        text-align: right;
    }
    .circle-image-div {
        position: relative;
        background: #fff;
        min-height: 330px;
        a {
            color: black;
            text-decoration: none;
            .image-div {
                width: 100%;
                height: 100%;
                border-radius: 999px;
                overflow: hidden;
                margin: 10px auto;
                position: relative;
                max-width: 230px;
                max-height: 230px;
            }
            img {
                max-width: 100%;
                vertical-align: middle;
                display: inline-block;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .digit {
            position: absolute;
            top: 0;
            left: 5px;
            .digit-num {
                // font-size: 1rem;
                // font-weight: 600;
                font-family: 'HelveticaNeueRegular';
                font-size: 22px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.59;
                letter-spacing: normal;
                text-align: center;
                color: #000000;
            }
            .border-bt {
                border-bottom: 3px solid#ffcc00;
            }
        }
        .image-title {
            font-family: 'HelveticaNeueBold';
            font-size: 1.5rem;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.33;
            letter-spacing: normal;
            text-align: center;
            color: #000000;
            margin-top: 1rem;
        }
    }
}

@media (max-width: 600px) {
    .blog {
        .circle-image-div {
            min-height: 177px;
            a {
                .image-div {
                    width: 100%;
                    height: 100%;
                    border-radius: 999px;
                    overflow: hidden;
                    margin: 20px auto;
                    position: relative;
                    max-width: 98px;
                    max-height: 98px;
                }
            }
            .digit {
                position: absolute;
                top: 0;
                left: 0px;
            }
        }
        max-width: 90%;
    }
    .new-arrival-section {
        h3 {
            font-size: 36px;
            font-weight: bold;
        }
        .new-arrival {
            .view-all-btn {
                display: none;
                color: #000 !important;
            }
        }
    }
}
// blog css

// logosection
.logo-section {
    max-width: 85%;
    margin: 0 auto;
    padding: 30px 0px 40px;
    border-bottom: 1px solid #000;
    text-align: center;

    .logo-div {
        div {
            display: inline-block;
            width: 12%;
            vertical-align: middle;
            margin: 10px 0px;
            a {
                text-decoration: none;
                .img-90 {
                    width: 90px;
                }
                .img-100 {
                    width: 100px;
                }
                .img-80 {
                    width: 100px;
                }
                .img-70 {
                    width: 70px;
                }
                .img-65 {
                    width: 65px;
                }
                .img-85 {
                    width: 85px;
                }
                .img-55 {
                    width: 55px;
                }
                img {
                    width: 80px;
                }
            }
        }
    }
    .view-button {
        text-transform: capitalize !important;
        background-color: #000;
        color: #ffffff;
        font-family: 'HelveticaNeueMedium';
        border-radius: 0px;
        margin-top: 1.5rem;
        padding: 0.5rem 1rem;
        &:hover {
            background-color: #000;
            color: #ffffff;
        }
    }
}

.video-block {
    width: 85%;
    margin: 0px auto;
    .image-box {
        text-align: center;
    }
}

.register_checkbox {
    .MuiGrid-grid-xs-11 {
        padding-left: 0.5rem;
    }
    label {
        font-size: 0.7rem;
        color: #4b4b4b;
        position: relative;
        top: -2px;
    }
}

.MuiButton-contained.Mui-disabled {
    color: rgba(0, 0, 0, 0.26) !important;
    box-shadow: none !important;
    background-color: rgba(0, 0, 0, 0.12) !important;
}

.MuiCheckbox-colorSecondary.Mui-checked {
    color: #000 !important;
}

@media (max-width: 600px) {
    .logo-section .logo-div div a img {
        width: 50px !important;
    }
    .logo-section .logo-div div {
        width: 25%;
    }
    .register_checkbox .MuiGrid-grid-xs-11 {
        padding-left: 1rem;
    }
}

@media (max-width: 668px) {
    .webBanner {
        .slick-dots li {
            position: relative;
            width: 12px !important;
            height: 20px;
            margin: 0 5px;
            padding: 0;
            cursor: pointer;
        }
        .slick-dots li button:before {
            line-height: 0px;

            width: 100%;
            border-bottom: 2px solid gray;
            color: transparent;

            outline: none;
            background: transparent;
        }
    }

    #homepage {
        .storytelling {
            margin: 0px auto 30px;
            width: 100%;
        }
        .subtitle-text {
            font-family: 'HelveticaNeueBold';
            font-size: 2.3rem;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 0.96;
            letter-spacing: normal;
            text-align: left;
            color: #000000;
            padding: 10px 10px;
            margin-bottom: 1rem;
        }
        .video-block {
            width: 100%;
            .img-box-item {
                margin-bottom: 1rem;
            }
        }
    }
    .mobile_slider_height {
        height: 70vh;
    }
    .blog .circle-image-div .digit .digit-num {
        font-size: 1rem;
    }
    .blog .circle-image-div .image-title {
        font-size: 1.28rem;
    }

    .country_change_pop {
        .MuiDialog-paperWidthSm {
            min-width: 99vw;
        }
    }
}
@media only screen and (min-width: 600px) and (max-width: 900px) {
    .logo-section .logo-div div {
        width: 20%;
    }
}
@media only screen and (min-width: 900px) and (max-width: 1100px) {
    .logo-section .logo-div div {
        width: 15%;
    }
}
