.l2-main {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 40px 20px;
}
.l2-main .l2-conatiner {
    height: 100%;
}
.menu-item {
    height: 100%;
    width: 100%;
}
.menu-item .No-category-msg {
    font-family: 'HelveticaNeueLight' !important;
    color: #838383;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #838383;
}
.menu-item a {
    color: #000;
}
.images-item {
    height: 100%;
}
.product-image img {
    width: 100%;
    height: 100%;
}
.l3-category-main-container {
    width: 100%;
    display: flex;
}
.l3-category-main-container .l3-category-div {
    margin: 0px 15px;
}
.l3-category-main-container .l3-category-div .title {
    text-transform: uppercase;
    font-size: 0.68rem;
    color: #838383;
    font-family: 'HelveticaNeueRegular' !important;
}

.l3-category-main-container .l3-category-div .category-name > a > span {
    color: #000;
    font-size: 0.875rem;
    font-family: 'HelveticaNeueRegular' !important;
    line-height: 2.14;
    position: relative;
}
.l3-category-main-container .l3-category-div .category-name a span::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform-origin: center;
    transition: 200ms ease;
    height: 1px;
    background: #000;
}
.l3-category-main-container .l3-category-div .category-name a:hover span::after {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
}
