.sortByC .MuiOutlinedInput-root {
    border-radius: 20px;
    background-color: #ffffff;
}

.sortByC .MuiSelect-outlined.MuiSelect-outlined {
    padding: 15px 70px 15px 18px;
}

.sortByC .boldText {
    color: #4f4f4f;
    font-weight: 300;
    position: relative;
    font-family: 'HelveticaNeueMedium' !important;
    top:0px;
    font-size: 12px;
}

.sortByC .MuiSelect-select:focus {
    background-color: #ffffff;
}

.mobileSortByFilter {
    padding: 0px 20px !important;
}

.mobileSortByFilter .MuiRadio-colorSecondary.Mui-checked {
    color: black !important;
}

.mobileSortByFilter .sortbyActiveText {
    color: black;
    letter-spacing: 0.48px;
    line-height: 1.42;
    font-weight: bold;
    font-size: 1.1rem;
}

.mobileSortByFilter .sortbyNormalText { 
    letter-spacing: 0.48px;
    line-height: 1.42;
    color: #000000;
    font-size: 1.1rem;
    font-weight: 300;
}

.sort-label {
    font-size: 12px;
    color: #969696;
    font-family: 'HelveticaNeueMedium';
}

@media(max-width: 668px) {
    html[dir="rtl"] .mobileSortByFilter {
        padding: 0px !important;
    }
}