.footerContainer {
    background-color: #000;
    padding: 50px 50px 20px;

    .footerTitleText {
        font-family: 'HelveticaNeueMedium';
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.41;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
        margin-bottom: 1rem;
    }
    .footer-lastSection {
        margin-top: 1.5rem;
        label {
            color: #ffffff;
            font-family: 'HelveticaNeueMedium';
            font-size: 0.6rem;
        }
        svg {
            color: #ffffff;
            font-size: 1.5rem;
            margin: 0px 0.5rem;
        }
        .sitmap {
            text-decoration: underline;
        }
        .image {
            display: flex;
            div {
                display: flex;
                align-items: center;
                margin: 0px 0.5rem;
                svg {
                    margin: 0px;
                }
            }
        }
    }

    .MuiListItem-dense {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .listItemText {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        cursor: pointer;
        span {
            font-family: 'HelveticaNeueRegular';
            font-size: 12px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 2;
            letter-spacing: normal;
            text-align: left;
            color: #d9d9d9;
        }
    }
    .logoContain {
        display: flex;

        .logoImg {
            height: 20px;
            width: 20px;
            padding: 10px;
            color: #ffffff;
            cursor: pointer;
            .logo {
                height: 100%;
            }
        }
    }
    .footerOfferNExclusive {
        font-family: 'HelveticaNeueMedium';
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.41;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }

    .pt-15 {
        padding: 15px 0px;

        .emailInput {
            padding: 14px 12px 12px;
            font-family: 'HelveticaNeueRegular';
            width: 60%;
            outline: none;
            border: 0px;
            font-size: 12px;
        }

        .subscribeBtn {
            border: 0px;
            padding: 14px 12px 13px;
            background: #ffcc00;
            font-size: 1rem;
            outline: none;
            width: 25%;
            font-size: 12px;
            cursor: pointer;
            position: relative;
            top: -1px;
            font-family: 'HelveticaNeueMedium';
        }
    }
    .labelText {
        font-family: 'HelveticaNeueLight';
        font-size: 12px;
        font-weight: 300;
        margin: 0px;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
        span {
            text-decoration: underline;
        }
    }
    .horizontalLine {
        border-bottom: 1px solid gray;
        margin: 14px 0px;
        width: 100%;
    }
    .descriptionText {
        font-family: 'HelveticaNeueMedium';
        font-size: 0.7rem;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;

        span {
            font-weight: bold;
            cursor: pointer;
            font-size: 0.8rem;
            font-family: 'HelveticaNeueBold';
        }
    }
}

// Mobile Styles...

.footerContainerMobi {
    background-color: #000;
    padding: 25px;

    .MuiListItem-dense {
        padding: 0px;
    }
    .MuiListItemText-root {
        margin: 0px;
    }

    .descriptionText {
        font-family: 'HelveticaNeueLight';
        font-size: 0.9rem;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.56;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;

        span {
            font-weight: 700;
            cursor: pointer;
            font-family: 'HelveticaNeueBold';
        }
    }
    .mobi-list-text {
        font-family: 'HelveticaNeueMedium';
        font-size: 20px !important;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.3;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
        .MuiTypography-body1 {
            font-family: 'HelveticaNeueMedium';
        }
    }
    .mobi-list-expandIcon {
        color: #fff;
        font-size: 1.8rem;
    }
    .horizontalLine {
        border-bottom: 1px solid gray;
        margin: 14px 0px;
        width: 100%;
    }
    .listItemText {
        span {
            font-family: 'HelveticaNeueRegular';
            font-size: 12px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 2;
            letter-spacing: normal;
            text-align: left;
            color: #d9d9d9;
        }
    }
    .footerOfferNExclusive {
        font-family: 'HelveticaNeueMedium';
        font-size: 1.1rem;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.12;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }
    .pt-15 {
        padding: 10px 0px;

        .emailInput {
            padding: 14px 14px 12px;
            width: 65%;
            outline: none;
            border: 0px;
            font-size: 12px;
            font-family: 'HelveticaNeueRegular';
        }

        .subscribeBtn {
            border: 0px;
            background: #ffcc00;
            font-size: 13px;
            outline: none;
            padding: 13px 14px 12px;
            width: 25%;
            font-size: 12px;
            cursor: pointer;
            position: relative;
            font-family: 'HelveticaNeueBold';
        }
    }
    .labelText {
        font-family: 'HelveticaNeueLight';
        font-size: 0.9rem;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
        margin: 4px 0px;
        span {
            text-decoration: underline;
        }
    }

    .mobi-list-sitemap {
        text-decoration: underline;
        color: #fff;
        font-size: 0.8rem;
        .MuiTypography-body1 {
            font-family: 'HelveticaNeueMedium';
        }
    }
}
