
.selectedFilters .FilterItem .clearAll {
    font-weight: 300;
    color: #4f4f4f;
    font-size: 0.9rem;
    border-bottom: 1px solid #4f4f4f;
    cursor: pointer;
}

.selectedFilters .FilterItem .f_item {
    height: 28px;
    border-radius: 14px;
    border: solid 1px #dadada;
    background-color: #ffffff;
    padding: 10px;
    margin: 0px 15px;
}

.selectedFilters .FilterItem .f_item .f_filter {
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #4f4f4f;
    font-family: "VAG Rounded ELC Bold" !important;
}

.selectedFilters .FilterItem .f_item svg {
    color: #4f4f4f;
    margin: 0px 0px 0px 10px;
    font-size: 0.9rem;
}