.vertical-horizontal-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    position: relative;
    width: 100%;
    height: 100%;
    .image-container {
        width: 100%;
        background-color: #f4f4f4;
        img {
            height: 100%;
            width: 100%;
            background-size: cover;
            object-fit: contain;
        }
    }
    .product-detail-container {
        margin: 10px 0;

        .product-name {
            font-family: 'HelveticaNeueMedium' !important;
            font-size: 14px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #000000;
            display: inline-block;
            width: 220px;
            white-space: nowrap;
            overflow: hidden !important;
            text-overflow: ellipsis;
            height: auto;
        }

        .product-description {
            font-family: 'HelveticaNeueRegular';
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            margin: 0rem 0px 0.7rem;
            letter-spacing: normal;
            text-align: left;
            color: #4b4b4b;
            display: inline-block;
            width: 220px;
            white-space: nowrap;
            overflow: hidden !important;
            text-overflow: ellipsis;
        }

        .product-price {
            font-family: 'HelveticaNeueMedium' !important;
            font-size: 16px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #000000;
        }
    }
}

.card-list {
    width: 100%;
}

.product-cart-Popup {
    .MuiPaper-root {
        width: 30vw;
    }
    .slick-track {
        height: 300px;
    }
    .slick-dots {
        bottom: 14px;
        li {
            margin: 0;
        }
    }
    .product-detail-container {
        margin: 14px;
        text-align: center;
    }
    .view-product-button {
        background-color: #000;
        color: #fff;
        font-weight: 400;
        padding: 10px 24px;
        margin-top: 14px;
        border-radius: 0;
        &:hover {
            background-color: #000;
        }
    }
}

@media (max-width: 668px) {
    .card-container .product-detail-container .product-name {
        width: 32vw;
    }
    .card-container .product-detail-container .product-description {
        width: 32vw;
    }

    .product-cart-Popup {
        .MuiPaper-root {
            width: 90vw;
        }
    }
}
