.miniCartDropDown {
    position: absolute;
    min-width: 300px;
    top: 53px;
    z-index: 3;
    box-shadow: 0px 10px 16px 0 rgba(0, 0, 0, 0.22);
    background-color: #ffffff;
    left: 86%;
    transform: translateX(-50%);
    margin-top: 27px;

    p {
        margin-bottom: 0px;
    }

    :after {
        width: 0;
        height: 0;
        border: 0 solid transparent;
        border-right-width: 10px;
        border-left-width: 10px;
        border-bottom: 10px solid #ffcc01;
        position: absolute;
        content: '';
        top: -10px;
        left: 85%;
        transform: translateX(-50%);
    }

    .shoppingCart {
        background-color: #ffcc01;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 10px 0px;

        .shoppingCart-text {
            color: #000;
            font-size: 1.2rem;
            text-align: center;
            font-weight: 700;
            padding-top: 2px;
        }
        .shoppingCart-items {
            color: #000;
            font-size: 1rem;
            text-align: center;
            padding-left: 5px;
        }
    }

    .miniCart-pv-5-ph-15 {
        padding: 5px 15px;
    }
    .miniCart-p-img {
        height: 100%;
        width: 100%;
    }
    .miniCart-p-detail {
        display: flex;
        justify-content: space-between;
    }
    .brand-name {
        font-size: x-small;
        color: #000;
    }
    .miniCart-p-name {
        font-size: 0.8rem;
        color: #000;
        font-weight: 700;
    }
    .miniCart-p-sizeAndQty {
        span {
            color: gray;
        }
        font-size: x-small;
        color: #000;
    }
    .pt-10 {
        padding-top: 10px;
    }
    .horizontal-line {
        border-bottom: 1px solid #000;
        width: 100%;
    }

    .miniCart-p-total {
        font-size: 1rem;
        color: #000;
        font-weight: 700;
        padding: 10px 0px;
    }

    .text-right {
        text-align: right;
    }
    .padding-15 {
        padding: 15px;
    }
    .miniCart-viewCartBtn {
        border: 0px;
        padding: 10px 1px;
        width: 80%;
        border-radius: 16px;
        font-size: 0.8rem;
        outline: none;
        cursor: pointer;
    }
    .miniCart-checkoutBtn {
        border: 0px;
        padding: 10px 1px;
        width: 100%;
        border-radius: 16px;
        font-size: 0.8rem;
        color: white;
        background-color: #000;
        outline: none;
        cursor: pointer;
    }
}

html[dir='rtl'] .miniCartDropDown {
    text-align: right;
}
html[dir='rtl'] .miniCartDropDown .logOutIcon {
    margin-left: 10px;
    margin-right: 0px;
}

@media (max-width: 668px) {
    .miniCartDropDown {
        left: 60%;
    }
}
