.main-container {
    .cookie-policy-container {
        h1 {
            font-size: 2rem;
            text-align: center;
            font-family: 'HelveticaNeueBold';
        }
        h4 {
            font-size: 1.4rem;
            text-align: center;
            font-family: 'HelveticaNeueMedium';
        }
        p {
            padding-bottom: 0.9em;
            line-height: 1.6;
            font-size: 0.95rem;
            font-family: 'HelveticaNeueRegular';
        }
        .main-para-focus {
            font-family: 'HelveticaNeueBold';
        }
        .cookie-main-section {
            display: flex;
            // padding: 1rem 1px;
            .cookie-tab-cnt {
                width: 500px;
                .cookie-tabs {
                    width: 100%;
                    background-color: #fecc2f;
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    ul {
                        display: flex;
                        flex-direction: column;
                        padding-left: 0;
                        .active_tab {
                            color: #000000;
                            font-weight: bold;
                            border-left: 4px solid;
                        }
                        li {
                            list-style: none;
                            padding: 1rem 1.4rem;
                            font-size: 1rem;
                            color: #4b4b4b;
                            cursor: pointer;
                        }
                    }
                }
            }
            .cookie-tab-data {
                .align-item {
                    align-items: center;
                }
                margin-left: 6rem;
                h2 {
                    font-size: 1.5rem;
                    font-family: 'HelveticaNeueBold';
                }
                h3 {
                    font-size: 1.1rem;
                    font-family: 'HelveticaNeueBold';
                }
                .f-i {
                    svg {
                        font-size: 1.2rem;
                    }
                    padding-right: 0.5rem;
                    font-size: 2rem;
                    color: #fecc2f;
                }
                .sub-point {
                    padding-left: 4rem;
                }
            }
            .cookie-tab-data1 {
                display: none;
            }
        }
    }
}

// Responsive View

@media (max-width: 800px) {
    .main-container {
        .cookie-policy-container {
            padding: 0px 1.5rem;
            .cookie-main-section {
                // display: none;
                .cookie-tab-cnt {
                    display: none;
                    .cookie-tabs {
                        display: none;
                    }
                }
                .cookie-tab-data {
                    display: none;
                }
                .cookie-tab-data1 {
                    padding-left: 0px;
                    font-size: 0.2rem;
                    display: block;
                    .tnc-collapsible {
                        border: 1px solid #000000;
                        padding: 1rem;
                        margin: 2rem 0px;
                        .collapse-heading {
                            font-size: 1.2rem;
                            text-align: left;
                        }
                        .collapse-data {
                            font-size: 1rem;
                        }
                        .tnc-col-flex {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                        }
                    }
                }
            }
        }
        .collapse-heading {
            font-family: 'HelveticaNeueMedium';
        }
        .Collapsible__contentInner {
            padding-top: 1.5rem;
            h3 {
                font-size: 1rem;
                font-family: 'HelveticaNeueMedium';
            }
        }
    }
}
